$background-color: #000000;
$primary-text-color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background: $background-color;
  color: $primary-text-color;
}
